@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	padding: 2rem;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open {
	display: block;
}

.menu .menu-item {
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	border-radius: inherit;
}

.menu .menu-item:hover {
	background: #343434;
}

.drop {
	position: absolute;
	top: -111px;
	width: 3.5px;
	border-radius: 0 0 20px 20px;
	animation: animate 6s linear infinite;
}

.fadeIn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 50vh;
	padding: 50px;
	font-size: 22px;
	background-color: antiquewhite;
	color: #333;
	animation: fadeIn ease-in 0.7s;
	border-radius: 40% 0 40% 0;
}

#hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.75s, opacity 0.75s linear;
}

@keyframes animate {
	from {
		transform: translateY(-111px);
	}
	to {
		transform: translateY(calc(100vh + 111px));
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.box {
	display: flex;
	justify-content: center;
}

.box.open,
.box.open .box-overlay,
.box.hide,
.box.hide .box-overlay {
	opacity: 1;
	z-index: 1000;
}

@keyframes scaleIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes scaleOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

.box.open .weather-box {
	animation-delay: 100;
	animation: scaleIn 0.3s ease-in-out forwards;
}

.box.open .box-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.box.hide .weather-box {
	animation: scaleOut 0.3s ease-in-out forwards;
}

.box.hide .box-overlay {
	background: rgba(0, 0, 0, 0);
}

.box,
.box-overlay {
	opacity: 0;
	z-index: -1;
}

.box-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0);
	transition: background 0.3s ease-in;
}

.weather-box {
	width: 250px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin: 150px auto;
	padding: 10px;
}

.box-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

.box-title {
	font-size: 1rem;
}

.close {
	color: #ccc;
	font-size: 1.5rem;
	cursor: pointer;
	transition: 0.3s ease-in;
}

.close:hover {
	color: #000;
}

.box-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-body p {
	margin: 10px 0;
}

.icon {
	width: 150px;
}

.temperature {
	font-size: 2.5rem;
}

.description {
	font-size: 1.5rem;
}

.hiden {
	display: none;
}

.piano-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 450px;
	width: 700px;
	background-color: #000;
}

.close-piano-btn {
	align-self: flex-end;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

h1 {
	margin-top: 20px;
	color: #fff;
}

.piano {
	display: flex;
	align-items: flex-end;
	width: 100%;
	background-color: #000;
	border-radius: 10px 10px 0 0;
}

.pianoKey {
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: column;
	flex: 1;
	height: 200px;
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
}

.pressed {
	transform: scale(0.96);
	border-color: #06a2eb;
	box-shadow: 0 0 1rem #02b3e9;
}

.section-timer__img,
.image-patrons,
.image-hits {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: 10px;
}

.game-body {
	display: none;
}

.game-body.open {
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	
}

.main {
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
}

.section-click {
  display: none;
}

.section-click.open {
  display: block;
}

.form-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.form-timer__text {
  font-size: 3rem;
  color: rgb(143, 7, 9);
  margin: 10px 0;
}

.form-timer input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(143, 7, 9);
  transition: 0.2s ease-in;
}

.form-timer input:focus {
  outline: none;
  border: 1px solid rgb(143, 7, 9);
}

.form-timer input:hover {
  background: #eee;
}

.btn {
  margin: 10px 0;
  padding: 20px 30px;
  border: none;
  border-radius: 50%;
  background: rgb(143, 7, 9);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

.bot-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bot-panel p {
  font-size: 2rem;
}

.counters {
  display: flex;
  justify-content: space-between;
}

.section-timer,
.shoots,
.hits {
  position: relative;
  display: inline-block;
}

.section-timer__text,
.shoots-text,
.hits-text {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 35%;
  background: #fff;
  border-radius: 20px;
}

.bang {
  position: absolute;
  opacity: .3;
  animation: animation .7s ease-out forwards;
  pointer-events: none;
}

@keyframes animation {
  0% {
    opacity: .5;
    transform: scale3d(.5, .5, 1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.airplane {
  position: absolute;
  z-index: 10;
  background-position: center;
  background-size: cover;
  outline: none;
}

.airplane:hover {
  cursor: url('../src/assets/cursor.png'), pointer;
}

.none-select {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.finish-game {
	position: absolute;
  width: 400px;
  margin: 250px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 2.5rem;
  color: rgb(143, 7, 9);
  text-align: center;
}